/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&caps_word {
};

/ {
    chosen { zmk,matrix_transform = &ortho_transform; };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        /**
         * Temporarily switches to a layer (`&mo`) while a modifier is held.
         * Analogous to QMK's `LM()`, using a parameterized macro.
         *
         * Params:
         *  1. Layer to switch to
         *  2. Modifier to press while layer is active
         *
         * Example:
         *  `&lm NUM_LAYER LSHIFT`
         */
    };

    combos {
        compatible = "zmk,combos";

        caps_word {
            bindings = <&caps_word>;
            key-positions = <16 19>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };

        bspc {
            bindings = <&kp BSPC>;
            key-positions = <19 20>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <14 15 16>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
&kp EQUAL        &kp Q  &kp W     &kp E     &kp R         &kp T               &kp Y       &kp U         &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL        &kp A  &kp S     &kp D     &hmr LSHFT F  &kp G               &kp H       &hmr RSHFT J  &kp K      &kp L    &kp SEMI  &kp SQT
&mt LSHFT GRAVE  &kp Z  &kp X     &kp C     &kp V         &kp B               &kp N       &kp M         &kp COMMA  &kp DOT  &kp FSLH  &mt RSHFT BACKSLASH
                        &kp LALT  &kp LGUI  &lt 2 SPACE   &kp LBKT  &kp RBKT  &lt 1 BSPC  &kp RGUI      &kp LALT
            >;
        };

        num_layer {
            bindings = <
&trans  &trans     &kp N1        &kp N2        &kp N3         &trans          &trans  &trans           &kp UP          &trans     &trans  &trans
&trans  &kp LCTRL  &hmr LALT N4  &hmr LGUI N5  &hmr LSHFT N6  &trans          &trans  &hmr RSHFT LEFT  &hmr RGUI DOWN  &kp RIGHT  &trans  &trans
&trans  &trans     &kp N7        &kp N8        &kp N9         &trans          &trans  &trans           &trans          &trans     &trans  &trans
                   &trans        &trans        &kp N0         &trans  &trans  &kp X   &trans           &trans
            >;

            label = "NUM";
        };

        sym_layer {
            bindings = <
&trans  &kp LG(Q)         &kp LG(W)        &kp LG(L)        &kp LG(R)         &kp LG(T)          &trans  &kp MINUS        &kp UP    &kp EQUAL  &trans    &trans
&trans  &hmr LCTRL LG(A)  &hmr LALT LG(S)  &hmr LGUI LA(F)  &hmr LSHFT LG(F)  &kp LG(G)          &trans  &hmr RSHFT LEFT  &kp DOWN  &kp RIGHT  &kp SQT   &trans
&trans  &kp LG(Z)         &kp LG(X)        &kp LG(C)        &kp LG(V)         &kp LG(B)          &trans  &kp GRAVE        &kp LBKT  &kp RBKT   &kp BSLH  &trans
                          &trans           &trans           &kp X             &trans     &trans  &trans  &trans           &trans
            >;

            label = "SYM";
        };
    };
};
